*{
    font-family: "Helvetica Neue", "Inter", sans-serif
}

:root {
    --fs-small: 1.25rem; 
    --fs-medium: 1.5625rem;
    --fs-large: 2.5rem; 
}

@media(max-width: 575.98px) {
    :root {
        --fs-small: 0.9375rem; 
        --fs-medium: 1.25rem;
        --fs-large: 2.1875rem; 
    }   
}