*{
    font-family: "Helvetica Neue", "Inter", sans-serif;
}

body {
    overflow-x: hidden;
}

/* Header Bar */
.main-header-bar {
    z-index: 100;
    position: fixed;
    height: 10vh; 
    width: 100%;
    margin: 0px;
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    /* animation: fade-in 3s;  */
    overflow-y: hidden;
}

/* Header Bar - Left */
.header-left {
    height: 100%;
    overflow: visible;
    white-space: nowrap;
}

.header-left #leungwai-logo {
    float: left;
    height: 6.67vh; 
    margin-left: 6.67vh;
    margin-top: 1.67vh;
}

.header-left #header-topic {
    float: left;
    margin-top: 3.56vh; 
    margin-left: 1.1vh; 
    text-align: center;
    font-size: 2.22vh; 
    font-weight: bold;
}

/* Header Bar - Center */
.header-center {
    display: flex;
    justify-content: center;
}

.categories-center {
    margin-left: 2.78vh;
    margin-right: 2.78vh;
    margin-top: 3.56vh;
    font-size: 2.22vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Nav Bar - Right */
.header-right {
    height: 100%;
}

.categories-right {
    float: right;
    margin-right: 6.67vh;
    margin-top: 3.56vh;
    font-size: 2.22vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* Mobile Header Bar */
.mobile-header-bar {
    display: none; 
}

.categories-mobile {
    font-size: 2.22vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 2.78vh 10%;
}

/* Mobile Header - Bottom Options */
.mobile-bottom-stuff {
    margin-top: auto;
    display: column;
    height: fit-content;
}

.mobile-bottom-options {
    display: block;
    font-size: 1.67vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 1.1vh 10%;
}

.mobile-bottom-name {
    display: block;
    text-align: left;
    font-size: 1.67vh; 
    font-weight:bold;
    padding: 1.1vh 10%;
}

.mobile-bottom-name i {
    font-weight: lighter;
}

/* Mobile-Header - Menu Button */
.menu-button {
    display: none;
    float: right;
    height: fit-content;

    background: none;
    border: none;

    padding-top: 3.56vh;
    padding-right: 6.67vh;
    padding-left: 0;
    padding-bottom: 0;

    text-decoration: none;
    font-size: 2.22vh;
    
    color: black;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .header-left #leungwai-logo {
        margin-left: 3.34vh; 
    }

    .header-left #header-topic {
        display: none;
    }

    .menu-button {
        padding-right: 3.34vh;
    }

}

@media (max-width: 991.98px) {
    .header-center{
        display: none;
    }
    .categories-right {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .mobile-header-bar {
        z-index: 1000;
        display: flex;
        position: fixed;
        inset: 10vh 0 0 60vw;
        flex-direction: column;
        padding-top: 5vh; 
        background-color: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
  
        /* Move it off the page when clicked */
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .mobile-header-bar[data-visible="true"] {
        transform: translateX(0%);
    }
}

@media (max-width: 767.98px) {
    .mobile-header-bar {
        inset: 10vh 0 0 50vw;
    }
}

@media (max-width: 575.98px) {
    .mobile-header-bar {
        inset: 10vh 0 0 30vw;
    }
}
