*{
    font-family: "Helvetica Neue", "Inter", sans-serif
}

/* For main header bar */
.main-header-bar {
    z-index: 100;
    position: fixed;
    height: 90px; /*90px*/
    width: 100%;
    margin: 0px;
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    animation: fade-in 3s; 
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.header-left {
    height: 100%;
}

.header-left #leungwai-logo {
    float: left;
    height: 60px; 
    margin-left: 20%;
    margin-top: 15px;
}

.header-left #header-topic {
    float: left;
    margin-top: 32px; 
    margin-left: 10px; 
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
}

.header-center {
    display: flex;
    justify-content: center;
}

.categories-center {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 32px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.header-right {
    height: 100%;
}

.categories-right {
    float: right;
    margin-right: 20%;
    margin-top: 32px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.content {
    /* Debugging
    /* border-style: solid;
    border-width: 2px;
    border-color: red; */ 

    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}


/* Main Home Panel (left side of page) */
.home-panel {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */

    height: 100%;
    padding-top: 2px;
    padding-left: 24px; 
    padding-bottom: 24px; 
    padding-right: 12px;

    animation: fade-from-left 1.5s;
}

.home-panel-box {
    margin: 0px;
    height: 100%;
    width:100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);
    background: linear-gradient(150deg, #c6f5ff, #fdffaf);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;

}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade-from-left {
    0% {
        opacity: 0%;
        transform: translateX(-300px) scale(0.9);
    }
    100% {
        opacity: 100%;
        transform: translateX(0px) scale(1);
    }
}

.carousel-container {
    height: 30%;
    margin: 0px;
}

.profile-picture {
    z-index: 3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15%;
    padding: 0px;

    border-radius: 50%;
    border-style: solid;
    border-width: 5%;
    
    /* animation: slide-up 3s ease-in-out; */
}

.profile-logo {
    z-index: 2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    padding: 0px;
    
    /* animation: slide-down 3s ease-in-out; */
}

.carousel-container:hover .profile-picture {
    animation: slide-down-hover 20s ease-in-out;
}
.carousel-container:hover .profile-logo {
    animation: slide-up-hover 20s ease-in-out;
}

.carousel-container:not(:hover) .profile-picture {
    animation: slide-up 3s ease-in-out;
}
.carousel-container:not(:hover) .profile-logo {
    animation: slide-down 3s ease-in-out;
}


@keyframes slide-up {
    0% {
        transform: translateY(40%);
    }
    50% {
        transform: translateY(40%);
    }
    100% {
        transform: translateY(0%);
    }

}

@keyframes slide-down {
    0% {
        transform: translateY(-40%);
    }
    50% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(0%);
    }

}

@keyframes slide-down-hover {
    0% {
        transform: translateY(0%);
    }
    5% {
        transform: translateY(40%);
    }
    100% {
        transform: translateY(40%);
    }
}

@keyframes slide-up-hover {
    0% {
        transform: translateY(0%);
    }
    5% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(-40%);
    }
}

.home-panel-text {
    padding: 0px;
    
}



.hello-text {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;

    margin-bottom: -5px;
    font-size: 25px; 
    font-weight: 300;
}

.name-text {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    font-size: 45px; 
    font-weight: bold;
    animation: name-text-animate 3s;
}

@keyframes name-text-animate {
    0% {
        opacity: 0%;
    } 50% {
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

@keyframes home-text-animate {
    0% {
        opacity: 0%;
    } 85% {
        opacity: 0%;
    } 100% {
        opacity: 100%;
    }
}

.description-text-1 {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    margin-top: -5px;
    font-size: 25px; 
    font-weight: 300;
    animation: home-text-animate 3.5s;
}

.description-text-2 {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    margin-top: -10px;
    font-size: 25px; 
    font-weight: 300;
    animation: home-text-animate 3.5s;
}

.contact-links {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0%;
    font-size: 25px; 
    font-weight: 300;
    animation: home-text-animate 3.5s;
}

.social-media-button {
    border: none;
    background: none;
    outline: none;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin-top: 5px;
    margin-right: 10px;
    justify-content: center;
}

.fa-brands {
    margin: 0px;
}

.contact-small-button {
    border: none;
    height: 30px;
    width: fit-content;
    margin-top: 7px;
    margin-bottom:-5px;
    margin-left: 5px;
    border-radius: 15px;
    justify-items: center;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 5px 5px rgba(134,134,134,0.3);

    font-size: 15px;
    font-weight: bold;
}



.additional-panels {
    /* border-style: solid;
    border-width: 2px;
    border-color: blue; */

    height: 100%;
    margin: 0px;
    padding: 0px; 
    padding-right: 10px;
    
}


.top-additionals {
    /* border-style: solid;
    border-width: 2px;
    border-color: purple; */

    height: 50%;
    margin: 0px;
}


.about-panel{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    animation: fade-from-top 1.5s;
}

@keyframes fade-from-top {
    0% {
        opacity: 0%;
        transform: translateY(-300px) scale(0.9);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px) scale(1);
    }
}

.about-panel-box {
    height: 100%;
    width: 100%;
    padding: 25px;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #fdffaf, #ffb932);
    
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;
    
}

.about-text-top {
    width: 100%;
    margin: 0px;
    margin-bottom: 2px;

    font-size: 25px; 
    font-weight: 300;
    line-height: 1.2;
    animation: appear-text-top 3s;
}

@keyframes appear-text-top {
    0%{
        opacity: 0%; 
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes appear-text-middle {
    0% {
        opacity: 0%;
    }
    85% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes appear-text-bottom {
    0% {
        opacity: 0%;
    }
    87.5% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.about-bottom-items {
    animation: appear-text-bottom 4s;
}

.about-text-bottom {
    width: 100%;
    margin-bottom: 25px;
    justify-content: right;

    text-align: right;
    font-size: 25px; 
    font-weight: bold;
    line-height: 1.2;
    animation: appear 1s;
    animation-delay: 3s;
}

.top-circle {
    z-index: 3;
    width: 30px;
    height: 30px;
    border-radius: 15px; 
    border-style: solid;
    background-color: white;
    border-width: 5px;
    animation: appear-text-top 3s;
}

.bottom-circle {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border-radius: 15px; 
    margin-top: -28px;
    border-style: solid;
    background-color: white;
    border-width: 5px;
}

.about-train-line {
    /* border-style: solid;
    border-width: 2px;
    border-color: red; */
    margin: 0px;
    margin-top: -5px;
    
    height: calc(100% - 95px - 137px);
    width: 100%;
    animation: appear-text-middle 3.5s; 
}



.box-1 {
    z-index: 2;
    width: 100%;
    margin: 0px;
    height: 50%;
    padding-left: 8px;
    padding-right: 45%;
    
}

.box-2 {
    width: 100%;
    height: 50%;
    margin-top: -15px;
    margin-bottom: -15px;
    padding-left: 45%;
    padding-right: 8px;
}

.top-half-line {
    width: 100%;
    height: 100%; 

    border-style: solid;
    border-radius: 0px 0px 0px 30px;
    border-color: #89d1dc; 
    border-width: 0px 0px 15px 15px;
}

.bottom-half-line {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 0px 30px 0px 0px;
    border-color: #89d1dc;
    border-width: 15px 15px 0px 0px;
}


.about-learn-more-button {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 25px;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 7px 7px rgba(134,134,134,0.3);

    font-size: 20px;
    font-weight: bold;
}






.experience-panel{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
    animation: fade-from-right 1.5s;
}

@keyframes fade-from-right {
    0% {
        opacity: 0%;
        transform: translateX(300px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.experience-panel-box {
    height: 100%;
    width: 100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #ffe8c5, #4a2dff);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;

}

.experience-slider {
    position: relative;;
    border-radius: 25px 25px 0px 0px;

    height: 30%;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    padding: 20px 25px;
}

.experience-slide-track {
    height: 100%;
    display: inline-block;
    animation: logo-slide 10s linear infinite
}

.experience-logos {
    position: relative;
    height: 100%;
    margin: 0 5px;
    mask-image: linear-gradient(red, transparent);
}

@keyframes logo-slide {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}

.experience-heading-logo {
    width: 30%;
    margin-left: 25px;
    margin-top: -20%;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0px 7px 7px rgba(134,134,134,0.3);
}

.experience-text-heading {
    position: relative;
    margin-left: calc(30% + 35px);
    margin-top: -15%;
    font-weight: bold;
    font-size: 1.9vw;
    
}

.experience-text-top {
    width: 100%;
    margin-left: 30px;
    margin-top: 25px;

    font-size: 1.9vw; 
    font-weight: 300;
    line-height: 1.2;
}

.experience-bottom-portion {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.experience-text-bottom {
    justify-content: right;
    text-align: right;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 25px;

    font-size: 1.9vw;
    font-weight: bold;
    line-height: 1.2;
}

.experience-learn-more-button {
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 25px;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 7px 7px rgba(134,134,134,0.3);

    font-size: 20px;
    font-weight: bold;
}





.bottom-additionals {
    /* border-style: solid;
    border-width: 2px;
    border-color: yellow; */

    height: 50%;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px; 
    animation: fade-from-bottom 1.5s;
}

@keyframes fade-from-bottom {
    0% {
        opacity: 0%;
        transform: translateY(300px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.blog-panel-box {
    height: 100%;
    width: 100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #eebcff, #feffba);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;
}

/* For main header bar */
.bottom-bar {
    /* border-style: solid;
    border-width: 2px;
    border-color: yellow; */

    z-index: 100;
    position: fixed;
    height: 30px; 
    width: 100%;
    margin: 0px;
    bottom: 0px; 
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    animation: fade-in 3s;
}

.bottom-name {
    float: left;
    margin-top: 0px;
    margin-left: 20px; 
    text-align: left;
    font-size: 15px; 
    font-weight:bold;
}

.bottom-right {
    display: flex;
    justify-content: right;
}

.bottom-options {
    margin-top: 0px;
    margin-right: 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}