*{
    font-family: "Helvetica Neue", "Inter", sans-serif
}

/* For main header bar */
.main-header-bar {
    z-index: 100;
    position: fixed;
    height: 90px; /*90px*/
    width: 100%;
    margin: 0px;
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.header-left {
    height: 100%;
}

.header-left #leungwai-logo {
    float: left;
    height: 60px; 
    margin-left: 20%;
    margin-top: 15px;
}

.header-left #header-topic {
    float: left;
    margin-top: 32px; 
    margin-left: 10px; 
    text-align: center;
    font-size: 20px; 
    font-weight: bold;
}

.header-center {
    display: flex;
    justify-content: center;
}

.categories-center {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 32px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.header-right {
    height: 100%;
}

.categories-right {
    float: right;
    margin-right: 20%;
    margin-top: 32px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.content {
    /* Debugging
    /* border-style: solid;
    border-width: 2px;
    border-color: red; */ 

    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}


/* Main Home Panel (left side of page) */
.home-panel {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */

    height: 100%;
    padding-top: 2px;
    padding-left: 24px; 
    padding-bottom: 24px; 
    padding-right: 12px;

    animation: fade-from-left 1.5s;
}

.home-panel-box {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */

    height: 100%;
    width:100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #c6f5ff, #fdffaf);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;

}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade-from-left {
    0% {
        opacity: 0%;
        transform: translateX(-300px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.home-panel-box {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.home-panel-picture {
    height: 100%;
}

.home-panel-text {
    /* border-style: solid;
    border-width: 2px;
    border-color: orange; */

    /* height: 100%; */
    padding: 0px;
}

.hello-text {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    margin-bottom: -5px;
    font-size: 25px; 
    font-weight: 300;
}

.name-text {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    font-size: 45px; 
    font-weight: bold;
}

.description-text-1 {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    margin-top: -5px;
    font-size: 25px; 
    font-weight: 300;
}

.description-text-2 {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0px;
    margin-top: -10px;
    font-size: 25px; 
    font-weight: 300;
}

.contact-links {
    /* border-style: solid;
    border-width: 2px;
    border-color: green; */
    
    width: 100%;
    margin: 0%;
    font-size: 25px; 
    font-weight: 300;
}

.social-media-button {
    border: none;
    background: none;
    outline: none;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin-top: 5px;
    margin-right: 10px;
    justify-content: center;
}

.fa-brands {
    margin: 0px;
}

.contact-small-button {
    border: none;
    height: 30px;
    width: 110px;
    margin-top: 7px;
    margin-bottom:-5px;
    margin-left: 5px;
    border-radius: 15px;
    justify-items: center;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 5px 5px rgba(134,134,134,0.3);

    font-size: 15px;
    font-weight: bold;
}

.contact-text {
    width:fit-content;
    font-size: 15px;
    margin: 0px;
    margin-top: -3px;
    margin-left: 5px;
    padding: 0px;
    font-weight: bold;
}

.contact-right-arrow {
    margin: 0px;
    height: 25px;
    width: 25px;
    padding: 0px;
}








.additional-panels {
    /* border-style: solid;
    border-width: 2px;
    border-color: blue; */

    height: 100%;
    margin: 0px;
    padding: 0px; 
    padding-right: 10px;
    
}


.top-additionals {
    /* border-style: solid;
    border-width: 2px;
    border-color: purple; */

    height: 50%;
    margin: 0px;
}


.about-panel{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.about-panel-box {
    height: 100%;
    width: 100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #fdffaf, #ffb932);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;
}

.experience-panel{
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 10px;
}

.experience-panel-box {
    height: 100%;
    width: 100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #ffe8c5, #4a2dff);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;

}


.bottom-additionals {
    /* border-style: solid;
    border-width: 2px;
    border-color: yellow; */

    height: 50%;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px; 
}

.blog-panel-box {
    height: 100%;
    width: 100%;

    border-radius: 25px;

    box-shadow: 0px 10px 20px rgba(134,134,134,0.25);

    background: linear-gradient(150deg, #eebcff, #feffba);
    background-size: 300% 300%;
    animation: color 5s ease-in-out infinite;
}

/* For main header bar */
.bottom-bar {
    /* border-style: solid;
    border-width: 2px;
    border-color: yellow; */

    z-index: 100;
    position: fixed;
    height: 30px; 
    width: 100%;
    margin: 0px;
    bottom: 0px; 
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

}

.bottom-name {
    float: left;
    margin-top: 0px;
    margin-left: 20px; 
    text-align: left;
    font-size: 15px; 
    font-weight:bold;
}

.bottom-right {
    display: flex;
    justify-content: right;
}

.bottom-options {
    margin-top: 0px;
    margin-right: 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}