/* Initial Page Load Status Bar */
.initial-page-load-status-bar {
    z-index: 300;
    position: fixed;
    height: 10vh; 
    width: 100%;
    margin: 0px;
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    overflow-y: hidden;
}

.initial-load-status-left-side {
    height: 100%;
    overflow: visible;
    white-space: nowrap;
}

.initial-header-topic {
    float: left;
    margin-top: 3.56vh; 
    margin-left: 6.67vh; 
    font-size: 2.22vh; 
    font-weight: bold;
}

.initial-load-status-right-side {
    height: 100%;
    overflow: visible;
    white-space: nowrap;
}

.skip-animation-button {
    float: right;
    height: fit-content;

    background: none;
    border: none;

    padding-top: 3.56vh;
    padding-right: 6.67vh;
    padding-left: 0;
    padding-bottom: 0;

    text-decoration: none;
    font-size: 2.22vh;
    
    color: black;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .initial-header-topic {
        margin-left: 3.34vh; 
    }

    .skip-animation-button {
        padding-right: 3.34vh;
    }

}


/* Initial Welcome Screen */
.initial-welcome-screen {
    z-index: 200;
    position: fixed;
    height: 10vh; 
    width: 100%;
    
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 0;
}

.initial-welcome-screen-container {
    display: flex;
    justify-content: center;
}

.initial-welcome-welcome-text {
    margin-top: 3.56vh; 
    font-size: 2.22vh; 
    font-weight: 300;
}

.initial-welcome-name-text {
    margin-top: 3.56vh; 
    font-size: 2.22vh; 
    font-weight: bold;
}

.initial-welcome-name-text i {
    margin-top: 3.56vh; 
    font-size: 1.67vh; 
    font-weight: 200;
}

.initial-welcome-enjoy-text {
    margin-top: 3.56vh; 
    font-size: 2.22vh; 
    font-weight: 300;
}

@media (max-width: 1199.98px) {
    .initial-welcome-screen {
        z-index: 200;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        width: 100%;
        padding: 0;

        background-color: rgba(255, 255, 255, 0.75);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }

    .initial-welcome-screen-container {
        height: max-content; 
        width: max-content;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .initial-welcome-welcome-text {
        display: block;
        height: fit-content; 
        margin: 0;
        font-size: 3.33vh; 
        font-weight: 300;
        line-height: 1.2;
    }
    
    .initial-welcome-name-text {
        display: block;
        height: fit-content;
        margin-top: 0.56vh;
        margin-bottom: 0.56vh;
        font-size: 5vh; 
        font-weight: bold;
        line-height: 1.2;
    }
    
    .initial-welcome-name-text i {
        font-size: 3.33vh; 
        font-weight: 200;
    }
    
    .initial-welcome-enjoy-text {
        display: block;
        height: fit-content;
        margin: 0;
        font-size: 3.33vh; 
        font-weight: 300;
        line-height: 1.2;
    }
}


/* Content Body*/
.content {
    /* Debugging */
    /* border-style: solid;
    border-width: 2px;
    border-color: red;  */

    position: absolute;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding-top: 10vh;
    padding-bottom: 3.33vh;
    padding-left: 12px;
    padding-right: 12px;
    
}

.content-body {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/* Main Home Panel (left side of page) */
.home-panel {
    margin: 0px;
    height: 86.66vh;
    padding: 10px;
    opacity: 1;
}

.home-panel-box {
    margin: 0px;
    height: 100%;
    width:100%;

    border-radius: 2.78vh;

    box-shadow: 0px 0.56vh 1.1vh 0.56vh rgba(225,225,225,0.5);
    background: linear-gradient(135deg, #f2fffc, #80ffde);
    background-size: 300%;
    animation: color 5s ease-in-out infinite; 
}

/* Home Panel - Image Carousel */
.carousel-container {
    height: 30%;
    margin: 0px;
}

.profile-picture {
    z-index: 3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15%;
    padding: 0px;

    border-radius: 50%;
    border-style: solid;
    border-width: 5%;
}

.profile-logo {
    z-index: 2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3px;
    padding: 0px;
}

.carousel-container:hover .profile-picture {
    animation: slide-down-hover var(--short-time) ease-in-out;
}
.carousel-container:hover .profile-logo {
    animation: slide-up-hover var(--short-time) ease-in-out;
}

/* .carousel-container:not(:hover) .profile-picture {
    animation: slide-up var(--short-time) ease-in-out;
}
.carousel-container:not(:hover) .profile-logo {
    animation: slide-down var(--short-time) ease-in-out;
} */

@media (max-width: 575.98px) {
   
    .home-panel-picture {
        display: flex;
        flex-direction: row;
        align-items: end;

        height: 40vh;
        padding: 0px;
    }

    .carousel-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        height: fit-content;
        width: 100%;
    }
    
    .profile-picture {
        z-index: 3;
        width: 40%;
        aspect-ratio: 1;

        margin: 0px;
        margin-left: 10%;
    
        border-radius: 50%;
        border-style: solid;
        border-width: 5%;
    }
    
    .profile-logo {
        z-index: 2;
        width: 40%;
        aspect-ratio: 1;

        margin: 0px;
        margin-right: 10%;
        margin-left: -4%;
    }


    .carousel-container:hover .profile-picture {
        animation: slide-right-hover var(--short-time) ease-in-out;
    }
    .carousel-container:hover .profile-logo {
        animation: slide-left-hover var(--short-time) ease-in-out;
    }

    /* .carousel-container:not(:hover) .profile-picture {
        animation: slide-left var(--short-time) ease-in-out;
    }
    .carousel-container:not(:hover) .profile-logo {
        animation: slide-right var(--short-time) ease-in-out;
    } */

}

/* Home Panel - Text */
.home-panel-text {
    padding: 0px;  
}

.hello-text {
    width: 100%;
    margin: 0px;

    font-size: 2.78vh; 
    font-weight: 300;
    line-height: 1.2;
}

.name-text {
    width: 100%;
    margin-top: 0.89vh;
    margin-bottom: 0.89vh;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 2.78vh;
    font-size: 5vh; 
    font-weight: bold;
    line-height: 1.2;
}

.description-text {
    width: 100%;
    margin: 0px;
    font-size: 2.78vh; 
    font-weight: 300;
    line-height: 1.2;
}

.contact-links {
    display: inline-block;
    margin: 0%;
    margin-top: 0.89vh;
    width: 100%;
    height: 5.56vh;
}

.social-media-button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -0.89vh;
    border: none;
    background: none;
    outline: none;
    height: 4.448vh;
    width: 4.448vh;
    justify-content: left;
    padding: 0%;
    color: black;
}

.github-button .linkedin-button{
    position: relative;
    font-size: 4.48vh;
    align-self: left;
}

.contact-small-button {
    border: none;
    height: 4.448vh;
    width: fit-content;
    border-radius: 2.224vh;
    justify-items: center;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 0.56vh 0.56vh rgba(134,134,134,0.3);
    color: black;
    font-size: 2vh;
    font-weight: bold;
}


@media (max-width:575.98px) {

    .home-panel-text {
        height: 40vh;
        padding-left: 2.78vh;
        padding-right: 2.78vh;
    }
    .social-media-button {
        margin-left: -0.56vh;
    }
}



/* Additional Panels */
.additional-panels {
    height: fit-content;
    margin: 0px;
    padding: 0px;
}


/* Top Half Panels */
.top-additionals {
    height: fit-content;
    margin: 0px;
    padding: 0px;
}


/* About Panel */
.about-panel{
    height: 43.33vh;
    padding: 10px;
}

.about-panel-box {
    height: 100%;
    width: 100%;
    padding: 2.78vh;

    border-radius: 2.78vh;

    box-shadow: 0px 0.56vh 1.1vh 0.56vh rgba(225,225,225,0.5);

    background: linear-gradient(135deg, #fffef4, #fff880);
    background-size: 300%;
    animation: color 5s ease-in-out infinite; 
    
}

.about-top-items {
    z-index: 5;
    margin:0;

}
.about-text-top {
    width: 100%;
    margin: 0px;

    font-size: 2.78vh; 
    font-weight: 300;
    line-height: 1.2;
}

.top-circle {
    width: 3.33vh;
    height: 3.33vh;
    border-radius: 1.67vh; 
    border-style: solid;
    background-color: white;
    border-width: 0.56vh;
}

.about-train-line {
    margin: 0px;
    margin-top: -1vh;
    margin-bottom: -1vh;
    
    height: calc(100% - 10vh - 15.22vh);
    width: 100%;
}

.box-1 {
    z-index: 2;
    width: 100%;
    height: calc(50% + 1.67vh);
    padding-left: 0.89vh;
    padding-right: 45%;
}

.box-2 {
    width: 100%;
    height: calc(50% + 1.67vh);
    margin-top: -1.67vh;
    padding-left: 45%;
    padding-right: 0.89vh;
}

.top-half-line {
    width: 100%;
    height: 100%; 

    border-style: solid;
    border-radius: 0px 0px 0px 3.33vh;
    border-color: #6654ff; 
    border-width: 0px 0px 1.67vh 1.67vh;
}

.bottom-half-line {
    width: 100%;
    height: 100%;

    border-style: solid;
    border-radius: 0px 3.33vh 0px 0px;
    border-color: #6654ff;
    border-width: 1.67vh 1.67vh 0px 0px;
}

.bottom-circle {
    margin-left: auto;
    width: 3.33vh;
    height: 3.33vh;
    border-radius: 1.67vh; 
    border-style: solid;
    background-color: white;
    border-width: 0.56vh;
}

.about-text-bottom {
    width: 100%;
    margin-bottom: 2.78vh;
    justify-content: right;

    text-align: right;
    font-size: 2.78vh; 
    font-weight: bold;
    line-height: 1.2;
}



.about-learn-more-button {
    height: 5.56vh;
    width: 100%;
    border: none;
    border-radius: 2.78vh;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 0.89vh 0.89vh rgba(134,134,134,0.3);

    font-size: 2.22vh;
    font-weight: bold;
    color: black;
}



/* Experience Panel */
.experience-panel{
    height: 43.33vh;
    padding: 10px;
}

.experience-panel-box {
    height: 100%;
    width: 100%;

    border-radius: 2.78vh;

    box-shadow: 0px 0.56vh 1.1vh 0.56vh rgba(225,225,225,0.5);

    background: linear-gradient(135deg, #fff6f3, #ff9d7d);
    background-size: 300%;
    animation: color 5s ease-in-out infinite; 
}

/* Experience Panel - Heading */
.experience-heading-logo {
    width: 10.42vh;
    margin: 2.78vh 0vh 0vh 2.78vh;
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0px 0.89vh 0.89vh rgba(134,134,134,0.3);
}

.experience-text-heading {
    margin-left: calc(13.2vh + 1.1vh);
    margin-top: -4.17vh;
    font-weight: bold;
    font-size: 2.78vh;
    
}

/* Experience Panel - Image Carousel */
.experience-slider {
    position: relative;
    border-radius: 2.78vh 2.78vh 0px 0px;
    width: 100%;
    height: 12.44vh;
    margin-top: -13.2vh;

    overflow: hidden;
    white-space: nowrap;
    padding: 3.33vh 2.78vh 1.1vh;
}

.experience-slide-track {
    height: 100%;
    display: inline-block;
    animation: logo-slide 10s linear infinite;
}

.experience-logos {
    position: relative;
    height: 8vh;
    margin: 0 0.56vh;
    mask-image: linear-gradient(red, transparent);
}

/* Experience Panel - Text */
.experience-text-top {
    width: 100%;
    margin-left: calc(2.78vh + 1.1vh);
    margin-top: 2.78vh;

    font-size: 2.78vh; 
    font-weight: 300;
    line-height: 1.2;
}

.experience-bottom-portion {
    width: 100%;
    padding-left: 2.78vh;
    padding-right: 2.78vh;
    padding-bottom: 2.78vh;
}

.experience-text-bottom {
    justify-content: right;
    text-align: right;
    width: 100%;
    padding-right: 1.1vh;
    margin-bottom: 2.78vh;

    font-size: 2.78vh;
    font-weight: bold;
    line-height: 1.2;
}

.experience-learn-more-button {
    height: 5.56vh;
    width: 100%;
    border: none;
    border-radius: 2.78vh;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 0.89vh 0.89vh rgba(134,134,134,0.3);

    font-size: 2.22vh;
    font-weight: bold;
    color: black;
}


/* Blog Panel */
.bottom-additionals {
    height: 43.33vh;
    margin: 0px;
    padding: 10px;
}

.blog-panel-box {
    height: 100%;
    width: 100%;
    padding: 0px;

    border-radius: 2.78vh;

    box-shadow: 0px 0.56vh 1.1vh 0.56vh rgba(225,225,225,0.5);

    background: linear-gradient(135deg, #f7f3ff, #ac7dff);
    background-size: 300%;
    animation: color 5s ease-in-out infinite; 

    overflow: hidden;
}

.blog-panel-box-contents {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
}

/* Blog Panel - Left Side (Notepad) */
.blog-excerpt {
    padding-top: 4.44vh;
    padding-left: 2.78vh;
    padding-right: 0vh;
    height: 100%;
    overflow: hidden;
}

.blog-page{
    position: relative;
    width: 100%;
    height: 150%;

    margin-left: auto;
    margin-right: auto;

    border-radius: 1.67vh 1.67vh 0px 0px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px #b9b9b97d;
    
    padding-left: 2.78vh;
    padding-right: 2.78vh;
    padding-top: 2.78vh;
    padding-bottom: 0px;
    overflow: hidden;
}


.blog-page::before {
    position: absolute;
    content: "";
    
    top: 0;
    left: 0;
    border-width: 0;
    border: solid;
    border-color: white #cdcdcd #cdcdcd white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    border-bottom-right-radius: 15px;
    transition: 1s ease-out
}

.blog-page:hover::before {
    border-width: 1.67vh;
}

.latest-post-title {
    margin-bottom: 0px;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.2;
    font-weight: bold;
    font-size: 2.22vh;
}

.latest-post-date {
    margin-top: 1.1vh;

    margin-bottom: 0px;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.2;
    font-weight: lighter;
    font-size: 1.1vh;
}

.latest-post-content {
    margin-top: 2.78vh;
    font-size: 1.67vh;;
}

.blog-popup-shadow {
    z-index: 5;
    height: 5px;
    margin-left: -1.38vh;
    margin-right: -1.39vh;
    margin-bottom: -4px;

    box-shadow: 0px -7px 12px rgba(188, 188, 188, 0.5);
    border-top: 1px solid rgba(152, 152, 152, 0.5);
}

/* Blog Panel - Right Side */
.blog-right-side {
    height: 100%;
    padding: 2.78vh;
}

.blog-heading-logo {
    width: 10.42vh;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(134,134,134,0.3);
}

.blog-heading-text {
    margin-left: calc(10.42vh + 1.1vh);
    margin-top: -4.17vh;
    font-weight: bold;
    font-size: 2.78vh;
}

.blog-content-text-top {
    margin-top: 2.78vh;
    margin-left: 1.1vh;
    font-size: 2.78vh; 
    font-weight: 300;
    line-height: 1.2;
}

.blog-bottom-portion {
    width: 100%;
}

.blog-text-bottom-first-line {
    justify-content: right;
    text-align: right;
    font-size: 2.78vh; 
    font-weight: 300;
    line-height: 1.2;
    margin-right: 1.1vh;
}

.blog-text-bottom-second-line {
    justify-content: right;
    text-align: right;
    font-size: 2.78vh; 
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2.78vh;
    margin-right: 1.1vh;
}

.bottom-learn-more-button {
    height: 5.56vh;
    width: 100%;
    border: none;
    border-radius: 2.78vh;

    background: linear-gradient(150deg, #afdeff, #0094ff);
    box-shadow: 0px 7px 7px rgba(134,134,134,0.3);

    font-size: 2.22vh;
    font-weight: bold;
    color: black;
}

@media (max-width: 575.98px) {
    .bottom-additionals {
        height: 86.67vh;
    }

    .blog-excerpt {
        height: 50%;
        padding-top: 4.44vh;
        padding-left: 2.78vh;
        padding-right: 2.78vh;
        padding-bottom: 0vh;
    }

    .blog-right-side {
        height: 50%;
    }
}


/* Bottom Status Bar */
.bottom-bar {
    z-index: 100;
    position: fixed;
    height: 3.33vh; 
    width: 100%;
    margin: 0px;
    bottom: 0px; 
    padding-left:0px;
    padding-right: 0px; 
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);

    transform: translateY(0%);
    transition: transform 350ms ease-in;
}

.bottom-name {
    float: left;
    margin-left: 2.22vh; 
    text-align: left;
    font-size: 1.67vh; 
    font-weight:bold;
}

.bottom-name i {
    font-size: 1.4vh;
    font-weight: 200;
}

.bottom-right {
    display: flex;
    justify-content: right;
}

.bottom-options {
    margin-top: 0px;
    margin-right: 2.22vh;
    font-size: 1.67vh;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .bottom-right {
        display: none;
    }

    .bottom-bar[data-visible="false"] {
        transform: translateY(100%);
    }
}


/*
ADDITIONAL NOTES
Based off on 1440x900 resolution

Height: 
5px: 0.56vh
8px: 0.89vh
10px: 1.1vh
15px: 1.67vh
18px: 2vh
20px: 2.22vh
23.445px: 2.605vh
25px: 2.78vh
28px: 3.11vh
30px: 3.33vh
32px: 3.56vh
35px: 3.89vh
37.53: 4.17vh
40px: 4.44vh
45px: 5vh
50px: 5.56vh
60px: 6.67vh
72px: 8vh
85px: 9.44vh
90px: 10vh
93.75px: 10.42vh
95px: 10.56vh
112px: 12.44vh
125px: 13.89vh
137px: 15.22vh
150px: 16.66vh
360px: 40vh
390px: 43.33vh
780px: 86.67vh

Width: 
10px: 0.694vw
12px: 0.833vw
14px: 0.972vw

Height Hierarchy: 
Nav Bar: 90px
Gap: 10px
Top Half: 375px
Middle Gap: 10px
Bottom Half: 375px
Bottom Gap: 10px
Bottom Bar: 30px 

*/