/* Content Body*/
.content {
    /* Debugging */
    /* border-style: solid;
    border-width: 2px;
    border-color: red;  */

    position: absolute;
    width: 100%;
    height: 100svh;
    margin: 0;
    padding-top: 10svh;
    padding-bottom: 3.33svh;
    padding-left: 12px;
    padding-right: 12px;
}


@media (max-width: 991.98px) {
    .content {
        height: auto;
    }
}

.content-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.break {
    display: none;
}

.heading {
    height: fit-content;
    width: 100%;
    margin: 0px;
    padding-left: 2.78svh;
    padding-right: 2.78svh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.heading-top {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 0;
    font-size: 3.89svh;
    font-weight: bold;
    justify-content: center;
}

.heading-bottom{
    width: 100%;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 0;
    font-size: 2.78svh;
    font-weight: 300;
    font-style: italic;
    justify-content: center;
}

@media (max-width: 991.98px) {
    .heading-top {
        font-size: 3.33svh;
    }

    .heading-bottom {
        font-size: 2.22svh;
    }
}

@media (max-width: 575.98px) {
    .heading-top {
        justify-content: left;
    }

    .heading-bottom {
        justify-content: left;
    }
}

/* Coming Soon Panel */

.coming-soon {
    width: 100%;
    margin: 0px;
    height: 100%;
    padding: 0;
}

.coming-soon-panel {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    opacity: 1;
}

/* @media (max-width: 1199.98px) {
    .coming-soon-panel {
        height: fit-content;
    }
} */


.coming-soon-panel-box {
    margin: 0px;
    height: 100%;
    width: 100%;

    border-radius: 2.78svh;

    box-shadow: 0px 0.56svh 1.1svh 0.56svh rgba(225,225,225,0.5);
    background: linear-gradient(135deg, #fffef4, #fff880);
    background-size: 300%;
    animation: color 5s ease-in-out infinite; 
}



.coming-soon-left-side {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.78svh;
}



.coming-soon-left-side-contents {
    height: fit-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.coming-soon-text-top {
    font-size: 3.33vh; 
    font-weight: bold; 
    line-height: 1.2;
    margin-bottom: 2.22svh;
}

.contact-heading {
    height: 3.89svh; 
    margin-top: 0.56svh;
    margin-bottom: 0.56svh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media-icon {
    position: relative;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    aspect-ratio: 1;
    margin-right: 1.1svh;
}

.contact-links {
    font-size: 2.22svh;
    font-weight: normal;
    color: black;
}

.coming-soon-text-bottom {
    font-size: 2.78svh;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 2.22svh;
}

.coming-soon-text-bottom strong {
    font-weight: bold;
}

@media (max-width: 991.98px) {
    .coming-soon-left-side {
        height: fit-content;
    }

    .coming-soon-text-top {
        font-size: 2.78svh;
    }

    .contact-heading {
        height: 3.33svh;
    }

    .contact-links {
        font-size: 1.67svh;
    }

    .coming-soon-text-bottom {
        font-size: 2.22svh;
    }
}


/* Additional Panels */
.coming-soon-right-side {
    height: 100%;
    padding: 2.78svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resume-contents {
    margin: auto;
    margin-bottom: auto;
    height: fit-content;
    width: fit-content;
}

.resume-heading-top {
    font-size: 2.22svh;
    font-weight: bold;
}

.resume-heading-bottom {
    font-size: 1.67svh;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 1.1svh;
}

.resume-image {
    position: relative;
    height: 60svh;
    box-shadow: 0px 0.56svh 1.1svh 0.56svh rgba(225,225,225,0.5);
}


@media (max-width: 991.98px) {
    .coming-soon-right-side {
        height: fit-content;
    }

    .resume-contents {
        width: 100%;
    }

    .resume-image {
        aspect-ratio: 8.5/11;
        width: 100%;
        height: max-content;
        
        
    }
}